
body {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow: hidden;

}

.background-image {
  background-repeat:no-repeat;
  background-size: contain;

}

.form-container {
  position: absolute;
  top: 50%;
  left: 40%;

}

.js-query {
  height: 100px;
  width: 250px;
  font-size: 25px;
  border-radius: 20px;
  margin-left: 20px;
}

p {
  color: white;
  font-size: 30px;
}
.button-1 {
  height: 100px;
  width: 160px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 30px;
  vertical-align: bottom;

}

.hidden {
  display:none;
}
#reset-quiz {
  height: 100px;
  width: 200px;
  border-radius: 15px;
  font-size: 20px;

}
.main {
    height: 100%;
    width: 80%;
    min-height: 100%;
    margin:10px auto;
    color: #ffffff
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
    .main {
        width: 60%;
    }
}

@media screen and (min-device-width: 1025px) {
    .main {
        width: 50%;
    }
}

.js-search-form {
    a
